@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f6f4f3;
  font-family: Arial, sans-serif;
  color: #000000;
}

.home-header {
  display: flex;
  flex-direction: row;
  align-items: center; /* Alinea los elementos hijos verticalmente al centro */
  flex-wrap: wrap; /* Permite que los elementos se ajusten a múltiples líneas si es necesario */
  justify-content: space-around; /* Distribuye los elementos a lo largo del eje principal */
  padding: 8px;
  background-color: #183059; /* Color de fondo para el encabezado */
}
.home-header h1 {
  font-size: 1rem; /* Tamaño de fuente grande */
  color: white;
  text-shadow: 2px 5px 5px rgba(0, 0, 0, 0.5);
  text-align: center; /* Centra el texto horizontalmente */
}
.home-header .title2 {
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  color: #f6f4f3;
  padding: 8px;
  font-size: 1.5rem;
  text-align: center;
}
.home-header .dropdown-nav {
  position: relative;
  display: inline-block;
  margin-left: 20px;
}
.home-header .dropdown-nav button {
  background-color: #f03a47;
  box-shadow: 2px 2px 10px rgba(255, 255, 255, 0.4);
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.home-header .dropdown-nav button:hover {
  background-color: rgb(229.5235849057, 17.4764150943, 32.6226415094);
}
.home-header .dropdown-nav buttonfocus {
  outline: none;
  background-color: rgba(180, 27, 27, 0.8);
}
.home-header .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.home-header .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.home-header .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.home-header .dropdown-nav:focus-within .dropdown-content {
  display: block;
}
.home-header .dropdown-nav:hover .dropdown-content {
  display: block;
}

.home-main {
  display: flex;
  flex-direction: column;
  flex: 1; /* Ocupa el espacio restante */
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}
.home-main .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem 1rem;
}
.home-main .container .skills-content {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  text-align: center;
  padding: 2rem;
  border-radius: 12px;
  background-color: rgba(240, 58, 71, 0.1);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
.home-main .container .skills-content h2 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  color: #183059;
}
.home-main .container .skills-content p {
  margin-top: 12px;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.home-main .container .skills-section {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 1rem;
  text-align: center;
}
.home-main .container .skills-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #183059;
}
.home-main .container .skills-section .skills-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.home-main .container .skills-section .skills-list li {
  margin: 0.5rem;
  padding: 0.5rem 0.5rem;
  background-color: #183059;
  color: #f6f4f3;
  border-radius: 8px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
}
.home-main .container .experience-section {
  display: flex;
  flex-direction: column;
  max-width: 800px;
  padding: 1rem;
  text-align: center;
}
.home-main .container .experience-section h2 {
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #183059;
}
.home-main .container .experience-section .timeline {
  position: relative;
  margin-left: 20px;
  border-left: 2px solid #183059;
  padding-left: 1.5rem;
}
.home-main .container .experience-section .timeline-item {
  position: relative;
  margin-bottom: 2.5rem;
  padding-left: 1.5rem;
  text-align: left;
}
.home-main .container .experience-section .timeline-item .timeline-dot {
  position: absolute;
  left: -11px;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: #183059;
  border-radius: 50%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.home-main .container .experience-section .timeline-item .timeline-content {
  background-color: rgba(240, 58, 71, 0.3);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.4);
}
.home-main .container .experience-section .timeline-item .timeline-content h3 {
  margin: 0;
  color: #183059;
  font-size: 1.2rem;
}
.home-main .container .experience-section .timeline-item .timeline-content .timeline-date {
  font-size: 0.9rem;
  color: #666;
  margin-bottom: 0.5rem;
}
.home-main .container .experience-section .timeline-item .timeline-content p {
  margin-top: 0.5rem;
  font-size: 1rem;
  color: #183059;
}
.home-main .container .contact-section {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 3rem auto;
  background-color: #ffffff;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.8);
  text-align: center;
}
.home-main .container .contact-section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #183059;
}
.home-main .container .contact-section p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
  color: #333;
}
.home-main .container .contact-section .form-group {
  margin-bottom: 1.5rem;
  text-align: left;
}
.home-main .container .contact-section label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: #444;
}
.home-main .container .contact-section .contact-form {
  display: flex;
  flex-direction: column;
}
.home-main .container .contact-section .contact-form input,
.home-main .container .contact-section .contact-form textarea {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  margin-bottom: 1rem;
}
.home-main .container .contact-section .contact-form .contact-form input:focus,
.home-main .container .contact-section .contact-form textarea:focus {
  outline: none;
  border-color: #183059;
}
.home-main .container .contact-section .contact-form .btn-submit {
  background-color: #183059;
  color: white;
  padding: 0.8rem 1.5rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}
.home-main .container .contact-section .contact-form .btn-submit:hover {
  background-color: rgb(13.1681415929, 26.3362831858, 48.8318584071);
}
.home-main .container .contact-section .contact-form .btn-submit:focus {
  outline: none;
  background-color: #112444;
}
.home-main .container .about-card {
  display: flex;
  flex-direction: column;
  max-width: 900px; /* Ancho máximo para la tarjeta */
  background-color: #ffffff; /* Color de fondo de la tarjeta */
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}
.home-main .container .about-card:hover {
  transform: scale(1.01);
}
.home-main .container .about-card .about-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: justify;
}
.home-main .container .about-card .about-text h2 {
  text-align: center;
  font-size: 1.8rem;
  color: #183059;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}
.home-main .container .about-card .about-text p {
  font-size: 1.1rem;
  padding: 8px;
  color: #333;
  line-height: 1.6;
  margin-bottom: 1rem;
}
.home-main .profile-img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.15);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #183059; /* Color de fondo para el pie de página */
  color: white; /* Color del texto */
  font-size: 1.2rem; /* Tamaño de fuente del pie de página */
  padding: 12px;
}

@media (min-width: 768px) {
  body {
    width: 100%;
    height: 100%;
    background-color: #f6f4f3;
    font-family: Arial, sans-serif;
    color: #333;
  }
  .home-header {
    display: flex;
    flex-direction: row;
    height: 15vh;
    justify-content: space-between; /* Organiza los elementos en una fila */
    align-items: center; /* Alinea los elementos hijos verticalmente al centro */
    flex-wrap: wrap; /* Permite que los elementos se ajusten a múltiples líneas si es necesario */
  }
  .home-header h1 {
    font-size: 2rem; /* Tamaño de fuente grande */
    color: white; /* Color del texto */
    text-align: center; /* Centra el texto horizontalmente */
  }
  .home-header .dropdown-content {
    position: absolute;
    right: 0;
  }
}

/*# sourceMappingURL=style.css.map */
